TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN
TWILIO_PHONE_NUMBER=+918383074761
USER_NAME=cybe_sama
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=llama3.2-vision
DATABASE_URL=sqlite:///./guidance.db
